  * {
    margin: 0px;
    padding: 10px;
  }


body {
  background-color: rgb(102, 255, 255);
  background-image: url("https://www.exit-reizen.nl/app/uploads/public/5e4/d21/7d9/5e4d217d95a20396276421/oxbow_bend_in_grand_teton_national_park-1920x1282_80_00auto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: rgb(25%, 0, 75%);
  font-family: Courier;
}


p {
  color: green;

}

ul {
  border: 2px solid blue;
  border: 4px solid yellow;
  border-radius: 20px 20px 20px 20px;
  list-style-type: none;
  text-align: left;
  background-color: yellow;
}


a: link {
  color: green;
}

a: link visited{
  color: red;
}

td, th {
  color: blue;
  border-style: outset;
  border-color: purple;
  border-width: 2px;
  border-radius: 10px 10px 10px 10px;
}

#keuzemenu li {
  display: inline;
}


#keuzemenu {
  overflow: hidden;
}

#keuzemenu a {
  color: green;
  text-decoration: none;
}

#keuzemenu :hover {
  color: yellow;
  background-color: green;
  border-radius: 10px 10px 10px 10px;
}

strong {
  color: red;
  font-style: italic;
}
